# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
*.egg-info/
.eggs/
dist/
build/

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# IDE/editor
.vscode/
.idea/
*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Local env
.env
.env.*

# Project-specific
PDF_examples/*.pdf
